.greetingForm,
.nameGreeting {
  display: none;
}

.showing {
  display: block;
}
.bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.completeBtn {
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 8px;
  width: 30px;
  font-size: 17px;
  margin-right: 5px;
  transition: all 0.2s ease-in-out;
}

.completeBtn:hover {
  background-color: rgb(34, 0, 255, 0.4);
  color: white;
}

.deleteBtn {
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 8px;
  font-size: 17px;
  transition: all 0.2s ease-in-out;
}

.deleteBtn:hover {
  background-color: rgba(255, 0, 0, 0.4);
}

.returnBtn {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  color: black;
  position: relative;
  top: -2px;
  margin-right: 5px;
  font-size: 16.5px;
  width: 30px;
  transition: all 0.2s ease-in-out;
}

.returnBtn:hover {
  background-color: rgb(64, 255, 0, 0.5);
  color: white;
}

@media screen and (min-width: 767px) and (max-width: 1024px){
  .completeBtn{
    font-size: 23px;
    width: 40px;
    border-radius: 4px;
  }

  .deleteBtn {
    font-size: 23px;
    border-radius: 4px;
  }
  .returnBtn{
    font-size: 23.5px;
    border-radius: 4px;
  }
  
  .completeList  li span,
  .toDoList li span{
    font-size: 25px;
  }
}


@media screen and (max-width: 500px) {
  .completeBtn{
    font-size: 13px;
    width: 20px;
    border-radius: 4px;
  }

  .deleteBtn {
    font-size: 13px;
    border-radius: 4px;
  }
  .returnBtn{
    font-size: 13.5px;
    border-radius: 4px;
  }
}