:root {
  --main-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style-type: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.greetingForm,
.nameGreeting {
  display: none;
}

.showing {
  display: block;
}

.toDoComplete {
  text-decoration: line-through 5px;
}
/*  WHEATHER */
.weatherContainer {
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 40%;
  height: 90%;
}

.weather {
  color: var(--main-color);
  height: 5%;
}

.clockContainer {
  height: 30%;
}

.clockTitle {
  color: var(--main-color);
  font-size: 30px;
}

.nameGreeting {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
}

.monthContainer {
  background-color: turquoise;
  width: 100%;
  height: 65%;
}

/* TODO CONTAINER */
.everydayToDo {
  width: 100%;
  height: 40%;
}
.toDoContainer {
  background-color: rgba(0, 0, 0, 0.4);
  width: 50%;
  height: 90%;
}

.dailyToDo {
  display: flex;
}

.toDoForm {
  margin-right: 10px;
}

.toDoList {
  color: white;
}
